;# This is a part of the GRLDCHZ Social network

;# Copyright (C) 2008 grilledcheeseoftheday.com

;#title displayed on the browser tab and in emails
title=GRLDCHZ

;#1=https, 0=http
secure=0

;#domain to be used when setting the browser cookie
domain=false


;#context root to be used in emails
ui_context=/grldchz

;#context root for this service
service_context=/grldservice

;#file path php uses to find grldservice files
path=/var/www/html/grldservice

;#file path php uses to find media files
media_path=/var/www/html/grldservice/media

;#program used to convert image files to lower resolution web formats
imagemagick=convert

;#mysql connection paramters
mysql_url=grldchz-mysql
mysql_database=grldchz
mysql_user=grldchz
mysql_password=@WSX3edc

;#admin user parameters
admin_id=1
admin_user=admin
admin_email=admin@grilledcheeseoftheday.com

;#cookie name
cookie_name=grldchz

;#google recaptcha secret key
captcha_private_key=<google secret key>

;#sendmail parameters
smtp_host=localhost
smtp_port=465
